<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Application</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <header>
        <h1>Buzz Master Quiz Questions</h1>
    </header>

    <section>
        <form id="quiz-form" action="/student_response/{{ student_id }}/" method="POST">
            {% csrf_token %}
            <div class="scrollable">
                {% for question in data.questions %}
                <div class="question">
                    <h3>{{ question.title }}: {{ question.question }}</h3>
                    <ul class="options">
                        {% for option in data.options %}
                        {% if option.question == question.question_id %}
                        <li>
                            <label>
                                <!-- Use checkboxes to allow multiple answers -->
                                <input type="checkbox" name="question_{{ question.question_id }}"
                                    value="{{ option.id }}">
                                {{ option.option }}
                            </label>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            <button type="submit">Submit Quiz</button>
        </form>
    </section>

    <script>

        const studentId = '{{ student_id }}';

        document.getElementById('quiz-form').action = `/student_response/${studentId}/`;
    </script>

</body>

</html>